.teampitching-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

  h1.page-title {
      margin-left: 100px;
      margin-top: 120px;
      color: #fff;
  }
  .images-container {
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
      padding-bottom: 100px;
      margin-left: 50px;
  }